.main {
  display: flex;
  justify-content: center;
}
main p {
  padding: 20px;
  margin: 0;
}

footer {
  margin-top: 20px;
  padding: 20px;
  background-color: #333;
  color: white
}

.content-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.text-wrapper {
  margin-left: 20px;
}

blockquote {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.resume-link {
  display: block;
  text-align: center;
}
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

h2 {
  color: #336699;
}

p {
  margin-bottom: 20px;
}

.resume-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.resume-link:hover {
  background-color: #3e8e41;
  color: white;
  border-color: #3e8e41;
}

.first-letter:first-letter {
  font-size: 150%;
  color: blue;
}

.footer-icons {
  display: flex;
  align-items: center; 
}

.footer-icon {
  margin-right: 10px; 
}

.footer-icon img {
  width: 30px; 
  height: 30px;
  transition: transform 0.3s ease; 
}

.footer-icon:hover img {
  transform: scale(1.1);
}

.video-container {
  position: relative;
  padding-bottom: 25.25%;
  width: 50%;
  margin: 0 auto;
  height: 0;
  overflow: hidden;
  margin: bottom 20px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media print {
  body {
      font-family: 'Roboto Slab', serif;
      color: black;
      margin: 0.5in;
      font-size: 12px;
  }

  h1 {
      font-size: 18px; 
  }

  p {
      font-size: 10px;
      line-height: 1.2;
  }

  blockquote {
      font-style: italic;
  }

  .video-container {
      display: none; 
  }

  .content-wrapper img {
      max-width: 40%; 
      height: auto;
  }

  .text-wrapper {
      margin-left: 20px;
      max-width: 60%;
  }

  .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 10px;
      margin-top: 20px; 
      padding: 20px;
      background-color: #333;
      color: white;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 0 10px;
  }

  img {
    max-width: 100%;
  }

  p {
    font-size:16px;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .text-wrapper {
      margin-left: 0;
      text-align: center;
      margin-top: 20px;
  }
  .content-wrapper img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.footer-icons {
  display: flex;
  align-items: center; 
}

.footer-icon {
  margin-right: 10px; 
}

.footer-icon img {
  width: 30px; 
  height: 30px;
  transition: transform 0.3s ease; 
}

.footer-icon:hover img {
  transform: scale(1.1);
}
}
